.App {
  max-width: 1600px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  color: #EAEAEA;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.main-title:hover {
  opacity: 0.8;
}

.loading-message {
  text-align: center;
  font-size: 1.5rem;
  color: #aaa;
  padding: 50px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}